node_modules/
.env
.env.*
!.env.example
*.env.local
firebase-service-account.json
*-adminsdk-*.json
google-services.json
*.pem
*.p12
*.jks
.DS_Store

# Build e cache
api/dist/
*.db
**/*.db
frontend/dist/
app/.expo/
app/android/
app/ios/
*.log
